$color-1: #3C3C36; // основной черный, используемый в текстах и многих других элементах
$color-2: #6BE0BF; // основной бирюзовый, используемый во всех линиях, многих задних фонах и тд.
$color-3: #6bbfa8; // используются в кнопках
$color-4: #a7e2d1; // более темныя версия $color-2,  часто используеумая в карточках, линиях и в адаптивном
$color-7: #fff3d0; // бежевый, задний фон блока instruction
$color-8: white; // использую белый в card'ах