$color-1: #3C3C36; // основной черный, используемый в текстах и многих других элементах
$color-2: #6BE0BF; // основной бирюзовый, используемый во всех линиях, многих задних фонах и тд.
$color-3: #6bbfa8;
$color-4: #a7e2d1;
$color-5: #2C3D52;
$color-6: #A1A3A6;
$color-7: #fff3d0; // бежевый, задний фон блока instruction