.button {
    padding: 10px 25px;
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    background-color: $color-2;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
        background-color: $color-3;
    }

    @media(max-width: $size-1) {
        padding: 20px 35px;
        font-size: 35px;
    }
}