.step {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__number {
        font-size: 250px;
        color: $color-2;
    }

    &__description {
        margin: 0 5vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        &-line {
            width: 40vw;
            height: 7px;
            background-color: $color-2;
        }

        &-main {
            margin-bottom: 2vh;
            max-width: 40vw;
            font-size: 40px;
            font-weight: 600;
            line-height: 48px;
            color: $color-1;
        }

        &-extra {
            margin-top: 2vh;
            max-width: 40vw;
            font-size: 20px;
            font-weight: normal;
            color: $color-1;
        }
    }

    @media(max-width: $size-1) {
        justify-content: center;

        &__description {
            width: 60%;

            &-main {
                max-width: 100% !important;
                font-size: 50px;
            }

            &-extra {
                max-width: 100% !important;
                font-size: 30px;
            }

            &-line {
                width: 100%;
            }
        }

        &__image {
            display: none;
        }
    }
}