/* footer main styles start */
.footer {
  padding: 4vh 5vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
  background-color: #3C3C36;
}

/* footer main styles end */
/* footer logo styles start */
.footer__logo-link {
  margin-left: 10%;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.footer__logo-image {
  margin-bottom: 6px;
  margin-right: 5px;
  width: 30px;
  height: auto;
}

.footer__logo-text {
  font-size: 30px;
  color: white;
  font-weight: normal;
}

/* footer logo styles end */
/* footer info-block styles start */
.footer__info {
  margin: auto;
  width: 80%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__follow-heading {
  padding-bottom: 2px;
  font-size: 25px;
  font-weight: normal;
  line-height: 30px;
  border-bottom: 1px solid white;
}

.footer__icons-container {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__icon-link {
  color: white;
}

.footer__icon {
  font-size: 40px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.footer__icon:hover {
  color: #ccc;
}

.footer__nav-bar {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__nav-link {
  font-size: 20px;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.footer__nav-link:hover {
  color: #ccc;
}

.footer__contact {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
}

.footer__contact-element {
  text-align: left;
  font-size: 20px;
  color: #A1A3A6;
}

/* footer info-block styles end */
/* footer corporation info styles start */
.footer__corporation {
  margin: auto;
  margin-top: 30px;
  width: 80%;
  font-size: 18px;
  color: #A1A3A6;
}

/* footer corporation info styles end */
/*# sourceMappingURL=footer.css.map */