.instruction {
    padding: 15vh 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // background-color: $color-7;

    &__heading {
        margin-bottom: 10vh;
        font-size: 50px;
        color: $color-1;
        text-decoration-line: underline;
    }

    @media(max-width: $size-1) {
        
        &__heading {
            font-size: 60px;
        }
    }

    @media(max-width: $size-2) {

        &__heading {
            font-size: 45px;
        }
    }

    @media(max-width: $size-3) {

        &__heading {
            font-size: 40px;
        }
    }

    @media(max-width: $size-4) {

        &__heading {
            font-size: 7vw;
        }
    }
}