/* setting styles start */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Inter', sans-serif; }

/* setting styles end */
/* fonts styles start */
@font-face {
  font-family: 'Inter', sans-serif;
  src: url("../../../assets/fonts/Inter/Inter-Regular-slnt=0.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'Inter', sans-serif;
  src: url("../../../assets/fonts/Inter/Inter-Bold-slnt=0.ttf");
  font-weight: bold; }

@font-face {
  font-family: 'Inter', sans-serif;
  src: url("../../../assets/fonts/Inter/Inter-SemiBold-slnt=0.ttf");
  font-weight: 600; }

/* fonts styles end */
/* blocks styles start */
.header {
  margin-top: 2vh;
  padding: 0 10%;
  box-sizing: border-box;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__nav-bar {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .header__nav-component {
    padding-bottom: 3px;
    box-sizing: border-box;
    font-size: 20px;
    color: #3C3C36;
    text-decoration: none;
    transition: 0.1s ease-in-out; }
    .header__nav-component:hover {
      border-bottom: 2px solid #3C3C36; }

.welcome {
  padding: 0 10%;
  box-sizing: border-box;
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .welcome__card-container {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .welcome__card {
    padding-left: 10%;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/elipses.png");
    background-repeat: no-repeat;
    background-size: contain; }
  .welcome__card-line {
    margin-bottom: 3vh;
    width: 150px;
    height: 3px;
    background-color: #6BE0BF; }
  .welcome__text-bold {
    font-weight: bold; }
  .welcome__image-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end; }
  .welcome__image {
    height: 60%; }

.advantages {
  font-family: 'Inter', sans-serif;
  padding: 0 10%;
  box-sizing: border-box;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10vh; }

.instruction {
  padding: 20vh 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff3d0; }
  .instruction__heading {
    margin-bottom: 10vh;
    font-size: 50px;
    color: #3C3C36;
    text-decoration-line: underline; }

/* footer main styles start */
.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  background-color: #3C3C36; }

/* footer main styles end */
/* footer logo styles start */
.footer__logo-link {
  margin-top: 80px;
  margin-left: 5%;
  text-decoration-line: none; }

.footer__logo-image {
  margin-bottom: 6px;
  margin-right: 5px;
  width: 30px;
  height: auto; }

.footer__logo-text {
  font-size: 30px;
  color: white;
  font-weight: normal; }

/* footer logo styles end */
/* footer info-block styles start */
.footer__info {
  margin: auto;
  width: 80%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.footer__follow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.footer__follow-heading {
  padding-bottom: 2px;
  font-size: 25px;
  font-weight: normal;
  line-height: 30px;
  border-bottom: 1px solid white; }

.footer__icons-container {
  margin-top: 20px;
  width: 150%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.footer__icon-link {
  color: white; }

.footer__icon {
  font-size: 70px;
  transition: 0.2s ease-in-out; }

.footer__icon:hover {
  color: #ccc; }

.footer__nav-bar {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.footer__nav-link {
  font-size: 20px;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s ease-in-out; }

.footer__nav-link:hover {
  color: #ccc; }

.footer__contact {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  text-align: right; }

.footer__contact-element {
  font-size: 20px;
  color: #A1A3A6; }

/* footer info-block styles end */
/* footer corporation info styles start */
.footer__corporation {
  margin: auto;
  margin-bottom: 50px;
  margin-top: 100px;
  width: 80%;
  font-size: 18px;
  color: #A1A3A6; }

/* footer corporation info styles end */
.online-tracking {
  padding: 0 10%;
  box-sizing: border-box;
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center; }
  .online-tracking__image {
    border: 1px solid black;
    width: 40%; }
  .online-tracking__pic {
    width: 100%;
    height: 100%; }
  .online-tracking__card {
    width: 565px;
    align-items: center !important; }

.card__heading {
  font-size: 40px !important;
  border-bottom: 1px solid #3C3C36; }

.card__text {
  font-size: 25px !important; }

/* blocks styles end */
/* components styles start */
.logo {
  text-decoration: none; }
  .logo__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .logo__image {
    margin-right: 5px;
    margin-bottom: 5px;
    width: 30px;
    height: auto; }
  .logo__text {
    font-size: 35px;
    color: #3C3C36; }

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }
  .card__heading {
    margin-bottom: 4vh;
    font-size: 55px;
    font-weight: bold;
    line-height: 51px;
    color: #3C3C36; }
  .card__text {
    font-size: 25px;
    font-weight: normal;
    line-height: 30px;
    color: #3C3C36; }
  .card__button {
    margin-top: 4vh; }

.button {
  padding: 10px 25px;
  font-size: 25px;
  font-weight: normal;
  color: #3C3C36;
  text-decoration: none;
  border-radius: 30px;
  background-color: #6BE0BF;
  cursor: pointer;
  transition: 0.2s ease-in-out; }
  .button:hover {
    background-color: #6bbfa8; }

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  width: 360px;
  height: 360px;
  background-color: #a7e2d1;
  position: relative; }
  .item__image {
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around; }
  .item__text {
    text-align: center;
    color: #3C3C36; }
  .item__title {
    font-style: normal;
    font-size: 25px; }
  .item__line {
    margin-top: 8px;
    width: 220px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #3C3C36; }
  .item__text_back {
    margin-top: 40px;
    text-align: center;
    color: #ffffff; }
  .item__line_back {
    margin-top: 8px;
    width: 220px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #A1A3A6; }
  .item__paragraph {
    font-style: normal;
    font-size: 21px;
    margin-top: 30px;
    width: 220px;
    text-align: center;
    color: #ffffff;
    margin-right: auto;
    margin-left: auto; }

.advantages__item_back {
  box-sizing: border-box;
  width: 360px;
  height: 360px;
  background-color: #2C3D52;
  opacity: 0;
  position: absolute;
  transition: 0.7s ease-in-out; }

.item:hover .advantages__item_back {
  display: block;
  cursor: pointer;
  opacity: 1; }

.step {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .step__number {
    font-size: 250px;
    color: #6BE0BF; }
  .step__description {
    margin: 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    .step__description-line {
      width: 55vw;
      height: 7px;
      background-color: #6BE0BF; }
    .step__description-main {
      margin-bottom: 2vh;
      font-size: 60px;
      font-weight: 600;
      line-height: 48px;
      color: #3C3C36; }
    .step__description-extra {
      margin-top: 2vh;
      max-width: 50vw;
      font-size: 29px;
      font-weight: normal;
      color: #3C3C36; }

/* components styles end */

/*# sourceMappingURL=main.css.map */
